@import "tailwindcss";

@theme {
    --color-grey: 203, 203, 203;
    --color-white: 242, 242, 242;
    --color-green: 23, 77, 56;
    --color-brown: 77, 23, 23;
}


:root {
    --accent: #D35400;
    --accent-dark: #9A2B00;
    --black: 15, 18, 25;
    --gray: 96, 115, 159;
    --gray-light: 229, 233, 240;
    --gray-dark: 34, 41, 57;
    --color-grey: 203, 203, 203;
    --color-white: 242, 242, 242;
    --color-green: 23, 77, 56;
    --color-brown: 77, 23, 23;
    --gray-gradient: rgba(var(--color-grey), 90%), #fff;
    --box-shadow:
            0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px
            rgba(var(--gray), 33%);
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-VariableFont_wght.ttf") format("tiff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-VariableFont_wght.ttf") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}