---
import AboutHeroImage from '../assets/Italy.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A bit about me and what I do"
	pubDate={new Date('March 13 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		
	</p>
</Layout>
