---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header class="sticky top-0 z-50 px-4 bg-brand-green/93 backdrop-blur border-b border-black/5 shadow-sm">

	<nav class="max-w-5xl mx-auto flex items-center justify-between">
		<h2>
			<a href="/">{SITE_TITLE}</a>
		</h2>
		
		<div class="hidden md:flex gap-6 internal-links">
			<HeaderLink href="/">HOME</HeaderLink>
			<HeaderLink href="/project">PROJECTS</HeaderLink>
			<HeaderLink href="/blog">BLOG</HeaderLink>
			<HeaderLink href="/about">ABOUT</HeaderLink>
			<HeaderLink href="/Tallarico_William_Resume.pdf">RESUME</HeaderLink>
		</div>

		<!-- Hamburger -->
		<button
			id="menu-btn"
			class="md:hidden flex flex-col gap-1 p-5"
			aria-label="Toggle menu"
		>
			<span class="w-6 h-0.5 bg-brand-grey"></span>
			<span class="w-6 h-0.5 bg-brand-grey"></span>
			<span class="w-6 h-0.5 bg-brand-grey"></span>
		</button>
	</nav>

	<!-- Mobile Menu -->
	<div id="mobile-menu" class="hidden md:hidden flex-col gap-4 p-4 border-t">
		<HeaderLink href="/">HOME</HeaderLink>
		<HeaderLink href="/project">PROJECTS</HeaderLink>
		<HeaderLink href="/blog">BLOG</HeaderLink>
		<HeaderLink href="/about">ABOUT</HeaderLink>
		<HeaderLink href="/Tallarico_William_Resume.pdf">RESUME</HeaderLink>
	</div>
</header>


<script>
	const btn = document.getElementById("menu-btn")!;
	const menu = document.getElementById("mobile-menu")!;

	btn.addEventListener("click", () => {
		menu.classList.toggle("hidden");
	});
</script>

<style>
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
		padding: 1em 0.5em;
		color: var(--color-brand-grey);
		border-bottom: 4px solid transparent;
	}
</style>
