---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a
	href={href}
	class={`inline-block py-4 px-2 border-b-4 
    ${isActive
		? '!text-brand-brown border-brand-brown font-bold ' 
		: 'border-transparent font-semibold'}
    ${className ?? ''}`}
	{...props}
>
	<slot />
</a>